<div class="event-photo buffer-both">
  <div class="mt-3 mb-1">

    <%= link_to (image_tag photo.photo.variant(resize_to_fill: [200, 200])),
      url_for(photo.photo),
      data: { lightbox: 'photo-set', title: link_to(photo.user.name, user_path(photo.user)) }
    %>
    <span>
      <% if policy(photo.event).edit? %>
        <%= button_to 'delete', event_photo_path(photo.event, photo),
            class: "icon-cog mt-2", method: :delete,
            form: { data: {turbo_confirm: t('are_you_sure')} } %>
      <% end %>
    </span>
  </div>
</div>
