<div class="event-photo buffer-both">
  <a href=<%= photo.photo.url %> ><img src=<%= photo.photo.thumb.url %> alt='photo' ></a>

  Добавил <%= render partial: 'users/user', object: photo.user %>
</div>
