
 @import "bootstrap";

 .my-bt {
  border-width: 0px;
}

.user-avatar .img-icon {
  margin-top: -2px;
  height: 20px;
}

.event-background {
  background-repeat:no-repeat;
  background-size:cover;
}

.caption a{
  color: white;
}

.caption .buffer-both{
  color: white;
}

.caption h3{
  color: white;
}

.caption h1{
  color: white;
}

.img-i {
  height: 80px;
  width: 80px;
}